body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0px;
  background: #aaa;
  border: 5px solid #333;
}

h1 {
  color: rgb(0, 0, 0);
}

.navbar {
    background-color: #222;
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* Additional CSS for navigation links */
.nav-links {
    display: flex;
    gap: 60px;
}

/* Additional CSS for navigation links */
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    background-color: #444;
    padding: 10px 25px;
    border-radius: 25px; 
}

/* Additional CSS for hover effect on navigation links */
.nav-links a:hover {
    background-color: #666
}



.image-of-me img {
    width: 20%;
    height: 20%;

    border-radius: 50%;
    border: 5px solid #8a8a8a;
    margin-bottom: 20px;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}


.navbar {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}


.container {
  width: 100%;
  border: 2px solid #000;
  background-color: #999;
  padding: 20px;
  text-align: center;
}


.profile-img {
  width: 200px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}


.navbar {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}


.container {
  width: 100%;
  flex: 1;
  border: 2px solid #000;
  background-color: #999;
  padding: 20px;
  text-align: center;
}